@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body, 
.ant-menu {
    font-family: 'Montserrat', sans-serif;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--color-background);
}

@layer utilities{
  :root{
    --color-brand: #0c5392;
    --color-secondary: #f9c74e;
    --color-background: #f8f9fa;
    --color-primary-text: #1a1a1a;
    --color-secondary-text: #6c757d;
  }

  .bg-brand{ background-color: var(--color-brand); }
  .bg-secondary{ background-color: var(--color-secondary); }
  .bg-background{ background-color: var(--color-background); }
  .text-primary-text{ color: var(--color-primary-text); }
  .text-secondary-text{ color: var(--color-secondary-text); }
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  background-color: #0c5392 !important;
  color: white;
  border-color: #0c5392 !important;
}